<div class="event-index-single">
  <p class="event-datetime"><%= event.start_date.strftime("%Y-%m-%d %H:%M") %>　開催</p>
  <img src="/assets/<%= icon %>.png" class="result_icon" alt="">

  <%= link_to user_event_path(current_user,event), style: "color:black;" do %>
    <h3 class="event-title marker_water"><%= event.title %></h3>
  <% end %>
</div>
