<div class="event-index-single">
  <p class="event-datetime"><%= event.start_date.strftime("%Y-%m-%d %H:%M") %>　開催</p>
  <img src="/assets/<%= result_icon(event.start_date,event.result) %>.png" class="result_icon" alt="">

  <%= link_to user_event_path(current_user,event), style: "color:black;" do %>
    <h3 class="event-title marker_water no-underline"><%= event.title.truncate(20) %></h3>
  <% end %>
</div>
