<h1>参加済みのイベント</h1>

<% @events.each do |event| %>
<div class="event-index-single">

  <p class="event-datetime"><%= event.start_date.strftime("%Y-%m-%d %H:%M") %>　開催</p>
    <% if event.result === "upcoming" %>
      <img src="/assets/no_result.png" class="result_icon" alt="">
    <% else %>
      <img src="/assets/<%= "#{event.result}" %>.png" class="result_icon" alt="">
    <% end %>


  <%= link_to user_event_path(current_user, event), style: "color:black;" do %>
    <h3 class="event-title marker_water"><%= event.title %></h3>
  <% end %>

</div>
<% end %>
