<nav class="navbar navbar-default fixed-top navbar-bg">
  <div class="container">
    <%= link_to root_path do %>
      <span><%= image_tag "logo.png", class: "navbar-brand navbar-logo" %></span>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</nav>

<div class="menu">
  <ul>
    <li><a href="#menu01">menu01</a></li>
    <li><a href="#menu02">menu02</a></li>
    <li><a href="#menu03">menu03</a></li>
    <li><a href="#menu04">menu04</a></li>
    <li><a href="#menu05">menu05</a></li>
  </ul>
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="main">
      <div class="box" id="menu01">
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
      </div>
    </div>
  </div>
</div>
