<%= javascript_include_tag 'application' %>

    <div class="main">
      <div class="box" id="menu01">
        <h1>スケジュール</h1>

          <div id="calendar"></div>

        <br>

        <%= link_to 'New Event', new_user_event_path(current_user) %>

        <!-- <div id="calendar"></div> -->

        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <h2>menu01</h2>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
        <p><a href="#">ここに本文が入ります</a></p>
      </div>
    </div>
