<%= javascript_include_tag 'application' %>

    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 left-box">
            <%= render partial: "event_box", locals: { events: @no_result_events, status: "結果記入待ち" } %>
          </div>

          <div class="col-lg-6 right-box">
            <%= render partial: "event_box", locals: { events: @upcoming_events, status: "参加予定" } %>
          </div>
        </div>
      </div>

      <div class="clear"></div>

      <div class="main-box calendar_box">
          <div id="calendar"></div>
      </div>


        <%= link_to 'New Event', new_user_event_path(current_user) %>

        <!-- <div id="calendar"></div> -->
