<h1>参加予定のイベント</h1>

<% @events.each do |event| %>
<div class="event-index-single">
  <p class=event-datetime><%= event.start_date.strftime("%Y-%m-%d %H:%M") %>　開催</p>
    <% case event.result %>
    <% when "success" %>
      <img src="/assets/success.png" class="result_icon" alt="">
    <% when "failure"%>
      <img src="/assets/failure.png" class="result_icon" alt="">
    <% else %>
      <img src="/assets/upcoming.png" class="result_icon" alt="">
    <% end %>

  <h3 class="event-title marker_water"><%= link_to event.title, user_event_path(current_user,event),:style=>"color:black;" %></h3>
</div>
<% end %>
