<div class ="top-wrapper">
  <div class="column fifty-left text-center">
  </div>
  <div class="column fifty-right text-center">
    <h1 class ="home-title">謎スケ</h1>
    <h2 class="text-black small-letter">謎スケは謎解き・脱出ゲームの参加記録ができるスケジュールサービスです</h2>
    <div class="home-btn text-center">
      <%= link_to 'アカウント作成', new_user_registration_path, class: 'btn btn-primary btn-block' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-dark btn-block' %>
    </div>
  </div>
</div>
