body {
  background-color: #f5f5f5;
  font-family: "メイリオ";
}

/*フラッシュアラート*/
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}


/*home*/

.column {
  height: 100vh;
  width: 100%;
}

.fifty-left {
  background: url('top01.jpg') no-repeat top center;
  background-color: #ffffff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.fifty-right {
  background-size: cover;
}

.home-logo{
  width: 50%;
  height: auto;
}

.home-btn {
  margin-top: 8vh;

 .btn {
      margin-bottom:5vh;
  }
}

/*signup,signin*/

.home-sub-logo{
  max-width: 20%;
  height: auto;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.btn {
  margin-bottom:2vh;
}

.input-form {
  height: auto;
  padding: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: #b0c4de;
  text-align: left;

  .form-group {
  margin-bottom: 2vh;
  }
}

.form-control {
  height: 45px;
}

.actions{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/*navbar*/
.navbar {
  border-bottom-style: solid;
  border-bottom-color: #CEECF5;
  border-bottom-width: 1px;
}

.navbar-logo {
width: 100px;
height: auto;
margin-left: 40px;
}


/*sidebar*/
/*992px以下の場合*/
.sidebar {
  display: none;
}

.navbar-content {
  display: none;
}

.nav-sidebar {
  li {
  text-align: left;
  }

  a {
  display: block;
	padding: 8px 16px;
	text-decoration: none;
  color: #000000;
  width: 200px;
  }

  li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
  }

}

/*sidebar*/
/*992px以上の場合*/

@media (min-width: 992px) {
  .navbar-content {
    display: inline;
  }

  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .nav-sidebar {

    li {
    text-align: left;
    }

    a {
    display: block;
  	padding: 8px 16px;
  	text-decoration: none;
    color: #000000;
    width: 200px;
    }

    li a:hover:not(.active) {
  	color: #ffffff;
  	background-color: #1b2538;
    }

    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
      color: #fff;
      background-color: #4169e1;
    }

  }
}



/*mypage*/
.show-wrapper {
  padding-top: 70px;
}

.show-container {
  background-color: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-box {
  padding: 20px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;

  h1 {
    display: inline;
    margin-bottom: 3px;
  }

  .text-title-sub {
    font-size: 15px;
    color: #a9a9a9;
    display: inline;
  }
}

.left-box {

}

.right-box {

}

.clear {
  clear:both;
}

.show-event-card {
  padding: 10px;
  margin: 10px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);

  p {
    margin-bottom: 5px;
  }

  .text-title {
    margin-bottom: 5px;
  }
}

/* event-form */
.main-box .field {
  margin-bottom: 2vh;
}


/*event-index*/
.event-index-single {
  background-color: #fff;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  position: relative;

  .event-datetime{
    margin-bottom: 0;
  }

    img.result_icon {
      width: 80px;
      height: auto;
      display: inline-block;
      padding: 5px 5px;
    }

  .event-title {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 0;
    text-decoration: none;
    }
}


/*text*/
.text-white {
  color:#ffffff;
}

.text-black {
  color:#000000;
}

.text-red {
  color:#ff0000;
}

.text-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.content-title {
  font-size:  24px;
  font-weight: bold;
  position: relative;
  padding-left: 25px;
}

.content-title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #1b2538;
}

.content-title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #1b2538;
}

.small-letter {
  font-size: small;
}

.marker_water {
  background: linear-gradient(transparent 90%, #66ccff 90%);
}

.no-underline {
  text-decoration: none;
}

/* fullcalendar */
.fc-time{
   display : none;
}

td.fc-sat {
    background-color: #eaf4ff;
}
td.fc-sun {
    background-color: #ffeaea;
}
