body {
  background-color: #f5f5f5;
  font-family: "メイリオ";
}

/*フラッシュアラート*/
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}


/*home*/
@media all and (min-width: 500px) {
  .top-wrapper {
    display: flex;
  }
}

.column {
  height: 100vh;
  width: 100%;
}

.fifty-left {
  background: url('top01.jpg') no-repeat top center;
  background-color: #ffffff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fifty-right {
  background-size: cover;
  padding: 5vh;
}

.home-title {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.home-btn{
  height: 30vh;
  padding: 5vh;
  margin: 10vh 5vh;

  .btn {
    margin-bottom:8vh;
  }

}

.btn {
  margin-bottom:2vh;
}

.input-form {
  height: 55vh;
  padding: 3vh;
  margin: 3vh 5vh;
  background-color: #b0c4de;
  text-align: left;

  .form-group {
  margin-bottom: 2vh;
  }
}

.form-control {
  height: 45px;
}

.login-form {
  height: 40vh;
  padding: 5vh 5vh;
  margin: 10vh 5vh 5vh 5vh;
  background-color: #b0c4de;
  text-align: left;

  .form-group {
  margin-bottom: 3vh;
  }
}

/*navbar*/

.navbar-logo {
width: 120px;
height: 35px;
margin-left: 40px;
}


/*sidebar*/
/*768px以下の場合*/
.sidebar {
  display: none;
}

.navbar-content {
  display: none;
}

.nav-sidebar {
  li {
  text-align: left;
  }

  a {
  display: block;
	padding: 8px 16px;
	text-decoration: none;
  color: #000000;
  width: 200px;
  }

  li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
  }

}

/*sidebar*/
/*768px以上の場合*/

@media (min-width: 992px) {
  .navbar-content {
    display: inline;
  }

  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .nav-sidebar {

    li {
    text-align: left;
    }

    a {
    display: block;
  	padding: 8px 16px;
  	text-decoration: none;
    color: #000000;
    width: 200px;
    }

    li a:hover:not(.active) {
  	color: #ffffff;
  	background-color: #1b2538;
    }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: #4169e1;
    }

  }
}



/*mypage*/
.show-wrapper {
  padding-top: 70px;
}

.show-container {
  background-color: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-box {
  padding: 20px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;

  h1 {
    display: inline;
    margin-bottom: 3px;
  }

  .text-title-sub {
    font-size: 15px;
    color: #a9a9a9;
    display: inline;
  }
}

.left-box {

}

.right-box {

}

.clear {
  clear:both;
}

.show-event-card {
  padding: 10px;
  margin: 10px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.2);

  p {
    margin-bottom: 5px;
  }

  .text-title {
    margin-bottom: 5px;
  }
}


/*event-index*/
.event-index-single {
  background-color: #fff;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  position: relative;

  .event-datetime{
    margin-bottom: 0;
  }

    img.result_icon {
      width: 80px;
      height: auto;
      display: inline-block;
      padding: 5px 5px;
    }

  .event-title {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 0;
    text-decoration: none;
    }
}


/*text*/
.text-white {
  color:#ffffff;
}

.text-black {
  color:#000000;
}

.text-red {
  color:#ff0000;
}

.text-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.small-letter {
  font-size: small;
}

.marker_water {
  background: linear-gradient(transparent 90%, #66ccff 90%);
}

.no-underline {
  text-decoration: none;
}
