<nav class="navbar navbar-default fixed-top navbar-bg">
  <div class="container">
    <%= link_to user_path(current_user) do %>
      <span><%= image_tag "logo.png", class: "navbar-brand navbar-logo" %></span>
    <% end %>
    <ul class="nav navbar-nav navbar-right list-inline-item">
      <li>ようこそ、<%= current_user.name %>さん</li>
      <li>
        <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</nav>
